<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2020 CEA
    This program and the accompanying materials are made available under the 
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
 * SPDX-License-Identifier: EPL-2.0
 * Contributors: see AUTHORS file
 -->

<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.NablaDslEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="n"
			icon="icons/NabLab.gif"
			id="fr.cea.nabla.Nabla"
			name="NabLab Editor">
		</editor>
		<editor
			class="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="ngen"
			icon="icons/Nablagen.gif"
			id="fr.cea.nabla.Nablagen"
			name="Ngen Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="fr.cea.nabla.Nabla.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="fr.cea.nabla.Nabla.validate">
			<activeWhen>
				<reference
					definitionId="fr.cea.nabla.Nabla.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="fr.cea.nabla.Nabla.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="fr.cea.nabla.Nabla.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="fr.cea.nabla.Nabla.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="fr.cea.nabla.Nabla"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="fr.cea.nabla.Nabla.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="fr.cea.nabla.Nabla"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="fr.cea.nabla.Nabla"
			name="NabLab">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
		</page>
		<page
			category="fr.cea.nabla.Nabla"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="fr.cea.nabla.Nabla.coloring"
			name="Syntax Coloring">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
		</page>
		<page
			category="fr.cea.nabla.Nabla"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="fr.cea.nabla.Nabla.templates"
			name="Templates">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="fr.cea.nabla.Nabla"
			name="NabLab">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="fr.cea.nabla.ui.keyword_NabLab"
			label="NabLab"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="fr.cea.nabla.Nabla.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="fr.cea.nabla.Nabla.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="fr.cea.nabla.Nabla.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.cea.nabla.Nabla.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.cea.nabla.Nabla.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="fr.cea.nabla.Nabla.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.cea.nabla.Nabla.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="fr.cea.nabla.Nabla.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="n"
			id="fr.cea.nabla.Nabla.contenttype"
			name="NabLab File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="n">
		</parser>
		<parser
			class="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="ngen">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="n">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="ngen">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for fr.cea.nabla.Nabla -->
	<extension
			id="nabla.check.fast"
			name="NabLab Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="nabla.check.normal"
			name="NabLab Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="nabla.check.expensive"
			name="NabLab Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="nabla"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="nablagen">
		</participant>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.cea.nabla.Nabla"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="fr.cea.nabla.Nabla.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="fr.cea.nabla.Nabla"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="fr.cea.nabla.Nabla.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="fr.cea.nabla.Nabla.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.cea.nabla.Nabla.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="fr.cea.nabla.Nabla.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="fr.cea.nabla.Nabla.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.cea.nabla.Nabla.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for fr.cea.nabla.Nabla -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.cea.nabla.ui.nabla.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.cea.nabla.ui.nabla.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="fr.cea.nabla.ui.nabla.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="fr.cea.nabla.Nabla.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="fr.cea.nabla.Nabla.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="fr.cea.nabla.Nabla"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="fr.cea.nabla.Nabla.refactoring"
			name="Refactoring">
			<keywordReference id="fr.cea.nabla.ui.keyword_NabLab"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="fr.cea.nabla.Nabla.compare.contentViewers"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="n">
		</viewer>
		<contentTypeBinding
			contentTypeId="fr.cea.nabla.Nabla.contenttype"
			contentViewerId="fr.cea.nabla.Nabla.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="fr.cea.nabla.Nabla.compare.contentMergeViewers"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="n" label="NabLab Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="fr.cea.nabla.Nabla.contenttype"
			contentMergeViewerId="fr.cea.nabla.Nabla.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="fr.cea.nabla.Nabla.editors.documentProviders"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="n">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="n"
			type="text">
		</fileTypes>
	</extension>

	<!-- LaTeX and Job Graph views -->
	<extension
		point="org.eclipse.ui.views">
		<category
			id="fr.cea.nabla.ui.category"
			name="%NablaCategory">
		</category>
		<view
			category="fr.cea.nabla.ui.category"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.views.LatexView"
			icon="icons/NabLab.gif"
			id="fr.cea.nabla.ui.views.NablaLatexView"
			name="LaTeX">
		</view>
		<view
			category="fr.cea.nabla.ui.category"
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.views.JobGraphView"
			icon="icons/NabLab.gif"
			id="fr.cea.nabla.ui.views.NablaJobGraphView"
			name="Job Graph">
		</view>
	</extension>

	<!-- Launch configuration on nablagen files to launch interpreter -->
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:fr.cea.nabla.ui.launchconfig.NablagenShortcut"
			icon="icons/Nablagen.gif"
			id="fr.cea.nabla.ui.launchconfig.NablagenShortcut"
			label="Start Interpretation"
			modes="run">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<and>
									<test property="org.eclipse.core.resources.extension" value="ngen">
									</test>
								</and>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
			<configurationType
				id="fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationType">
			</configurationType>
		</shortcut>
	</extension>
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationDelegate"
			id="fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationType"
			modes="run, debug"
			name="NabLab Interpreter Launch">
		</launchConfigurationType>
	</extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationType"
          icon="icons/NabLab.gif"
          id="fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationType">
    </launchConfigurationTypeImage>
 </extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="fr.cea.nabla.ui.NablagenExecutableExtensionFactory:fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationTabGroup"
			id="fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationTabGroup"
			type="fr.cea.nabla.ui.launchconfig.NablagenLaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>

	<!-- NabLab perspective -->
	<extension
		point="org.eclipse.ui.perspectives">
		<perspective
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.perspectives.NabLabPerspective"
			icon="icons/NabLab.gif"
			id="fr.cea.nabla.ui.NabLabPerspective"
			name="NabLab">
		</perspective>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="fr.cea.nabla.ui.NabLabPerspective">
			<view
				id="org.eclipse.ui.views.ContentOutline"
				minimized="false"
				ratio="0.6"
				relationship="bottom"
				relative="org.eclipse.ui.navigator.ProjectExplorer">
			</view>
			<hiddenToolBarItem
				id="org.eclipse.jdt.ui.navigate.open.type">
			</hiddenToolBarItem>
			<hiddenToolBarItem
				id="org.eclipse.sirius.editor.reloadVSMCommand">
			</hiddenToolBarItem>
			<hiddenToolBarItem
				id="org.eclipse.ui.externaltools.ExternalToolsSet">
			</hiddenToolBarItem>
			<hiddenToolBarItem
				id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
			</hiddenToolBarItem>
		</perspectiveExtension>
</extension>
<extension
       point="org.eclipse.ui.newWizards">
    <category
          id="fr.cea.nabla.ui.category"
          name="%NablaCategory">
    </category>
    <category
          id="fr.cea.nabla.ui.examples.category"
          name="%NablaExamplesCategory"
          parentCategory="org.eclipse.ui.Examples">
    </category>
    <wizard
          category="fr.cea.nabla.ui.category"
          class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.wizards.NewNablaProjectWizard"
          icon="icons/NabLab.gif"
          id="fr.cea.nabla.ui.new.project.wizard"
          name="%NablaProjectWizardName"
          project="true">
       <description>
          %NablaProjectWizardDescription
       </description>
    </wizard>
    <wizard
          category="org.eclipse.ui.Examples/fr.cea.nabla.ui.examples.category"
          class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
          icon="icons/NabLab.gif"
          id="fr.cea.nabla.ui.examples.project.wizard"
          name="%NablaExamplesWizardName"
          project="true">
       <description>
          %NablaExamplesWizardDescription
       </description>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.emf.common.ui.examples">
    <example
          id="fr.cea.nabla.ui.examples.project.example"
          pageImage="icons/NabLab.gif"
          wizardID="fr.cea.nabla.ui.examples.project.wizard">
       <projectDescriptor
             contentURI="examples/NabLabExamples/"
             description="%NablaExamplesWizardFullDescription"
             name="NabLabExamples">
       </projectDescriptor>
    </example>
 </extension>
 <!-- Add NabLab wizard shortcuts into Model Explorer View (only when NabLab perspective is active) -->
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          type="new"
          wizardId="fr.cea.nabla.ui.examples.project.wizard">
       <enablement>
          <with
                variable="activeWorkbenchWindow.activePerspective">
             <equals
                   value="fr.cea.nabla.ui.NabLabPerspective">
             </equals>
          </with>
       </enablement>
    </commonWizard>
    <commonWizard
          type="new"
          wizardId="fr.cea.nabla.ui.new.project.wizard">
       <enablement>
          <with
                variable="activeWorkbenchWindow.activePerspective">
             <equals
                   value="fr.cea.nabla.ui.NabLabPerspective">
             </equals>
          </with>
       </enablement>
    </commonWizard>
 </extension>
 <!-- Hide Xtend and Sirius wizard shortcuts from Model Explorer View (only when NabLab perspective is active) -->
 <extension
       point="org.eclipse.ui.activities">
    <activity
          id="fr.cea.nabla.ui.activity"
          name="NabLabActivity">
       <enabledWhen>
          <with
                variable="activeWorkbenchWindow.activePerspective">
                <not>
                   <equals
                      value="fr.cea.nabla.ui.NabLabPerspective">
                   </equals>
                </not>
          </with>
       </enabledWhen>
    </activity>
    <activityPatternBinding
          activityId="fr.cea.nabla.ui.activity"
          pattern="org\.eclipse\.xtend.*">
    </activityPatternBinding>
    <activityPatternBinding
          activityId="fr.cea.nabla.ui.activity"
          pattern="org.eclipse.sirius.ui.ext/org.eclipse.sirius.ui.modelingproject.wizard">
    </activityPatternBinding>
 </extension>
 <!-- Create a NabLab console factory -->
 <extension point="org.eclipse.ui.console.consoleFactories">
   <consoleFactory 
      label="NabLab Console"
      class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.NabLabConsoleFactory"
      icon="icons/NabLab.gif">
   </consoleFactory>
 </extension>
 <!-- Create a key binding to notify Graph views -->
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="fr.cea.nabla.ui.NotifyViewsId"
          name="Notify view">
    </command>
    <command
          id="fr.cea.nabla.ui.OpenSiriusJobsGraph"
          name="Sirius Jobs Graph">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="fr.cea.nabla.ui.NotifyViewsId"
          contextId="org.eclipse.xtext.ui.XtextEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F1">
    </key>
    <key
          commandId="fr.cea.nabla.ui.OpenSiriusJobsGraph"
          contextId="org.eclipse.xtext.ui.XtextEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F2">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.views.NotifyViewsHandler"
          commandId="fr.cea.nabla.ui.NotifyViewsId">
    </handler>
    <handler
          class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.views.OpenSiriusJobsGraph"
          commandId="fr.cea.nabla.ui.OpenSiriusJobsGraph">
    </handler>
 </extension>

	<!-- Property tester to check that content of Nabla file is Extension and nablaext file does not exists -->
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.propertytesters.NablaFileContentPropertyTester"
			id="fr.cea.nabla.ui.propertytesters.NablaFileContentPropertyTester"
			namespace="fr.cea.nabla.ui.propertytesters"
			properties="NablaFileContentPropertyTester"
			type="org.eclipse.core.resources.IResource">
		</propertyTester>
	</extension>

	<!-- Generate menus for nablagen (code generation), nabla file (provider generation) -->
	<extension
		id="fr.cea.nabla.ui.menus"
		name="fr.cea.nabla.ui.menus"
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any?endof=additions">
			<separator
				name="fr.cea.nabla.startseparator"
				visible="true">
			</separator>
			<command
				commandId="fr.cea.nabla.GenerateCodeCommand"
				icon="icons/Nablagen.gif"
				label="Generate code"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="activeMenuSelection">
						<count value="1"/>
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.extension" value="ngen"/>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="fr.cea.nabla.GenerateNablagenCommand"
				icon="icons/NabLab.gif"
				label="Generate nablagen provider file"
				style="push">
				<visibleWhen checkEnabled="false">
					<with variable="activeMenuSelection">
						<count value="1"/>
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<test property="org.eclipse.core.resources.extension" value="n"/>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<separator
				name="fr.cea.nabla.endseparator"
				visible="true">
			</separator>
		</menuContribution>
	</extension>

	<!-- Generate commands for nablagen (code generation), nabla file (provider generation) -->
	<extension
		id="fr.cea.nabla.ui.commands"
		name="fr.cea.nabla.ui.commands"
		point="org.eclipse.ui.commands">
		<command 
			defaultHandler="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.handlers.GenerateCodeHandler"
			id="fr.cea.nabla.GenerateCodeCommand"
			name="Generate code">
		</command>
		<command 
			id="fr.cea.nabla.GenerateNablagenCommand"
			name="Generate nablagen provider file">
		</command>
	</extension>

	<!-- Generate handlers for nablagen (code generation), nabla file (provider generation) -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="fr.cea.nabla.ui.NablaExecutableExtensionFactory:fr.cea.nabla.ui.handlers.GenerateNablagenHandler"
			commandId="fr.cea.nabla.GenerateNablagenCommand">
			<enabledWhen>
				<with variable="selection">
					<iterate>
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.extension" value="n"/>
						</adapt>
						<and/>
						<test
							property="fr.cea.nabla.ui.propertytesters.NablaFileContentPropertyTester"
							value="false">
						</test>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
	</extension>
</plugin>
