# DO NOT IGNORE src-gen DIRECTORIES FOR ALL PROJECTS
# Java
.class
bin/
# Eclipse
.metadata
.settings/
# Xtext
xtend-gen/
# C++
.o
.a
# Nabla
.nablair
org.antlr.runtime
output
# Maven
target/
# macOS
.DS_Store