# DO NOT IGNORE src-gen DIRECTORIES FOR ALL PROJECTS
# Python
__pycache__
.venv
# Java
.class
bin/
# Eclipse
.metadata
.settings/
# Xtext
xtend-gen/
# C++
.o
.a
build
# Nabla
.nablair
org.antlr.runtime
output
.nablab
webviews/
out/
# Maven
target/
.polyglot.*
# macOS
.DS_Store
# Gradle
.gradle
# Node
node_modules/
# Next.js build output
.next
out
# Optional npm cache directory
.npm
# VSCODE
.vsix
#yalc
.yalc/
yalc.lock