# DO NOT IGNORE src-gen DIRECTORIES FOR ALL PROJECTS
*/xtend-gen/*
/fr.cea.nabla.ir/jgrapht/*
*.class
*/bin/*
*.o
*.a
/.metadata/
output
*.nablair
NablaGlaceKokkos/build
.settings
org.antlr.runtime

