<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2022 CEA
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.

    SPDX-License-Identifier: EPL-2.0
    Contributors: see AUTHORS file
 -->
<plugin>
   <extension
         id="fr.cea.nabla.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="NabLab">
            <property name="windowImages" value="icons/logo_16.png,icons/logo_32.png,icons/logo_64.png,icons/logo_128.png,icons/logo_256.png"/>
            <property name="appName" value="NabLab"/>
            <property name="aboutText" value="NabLab&#x0A;&#x0A;Version 0.6.0&#x0A;&#x0A;&#x0A;Copyright (c) 2022 CEA.  All rights reserved."/>
            <property name="startupForegroundColor" value="FFFFFF"/>
            <property name="startupMessageRect" value="7,308,458,18"/>
            <property name="startupProgressRect" value="0,328,458,18"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/>
      </product>
   </extension>

</plugin>
