<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2021 CEA
    This program and the accompanying materials are made available under the 
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
 * SPDX-License-Identifier: EPL-2.0
 * Contributors: see AUTHORS file
 -->
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.cea.nabla.sirius.Activator"
               id="fr.cea.nabla.sirius"
	       name="nabla">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <command
              commandId="fr.cea.nabla.sirius.nir.back.to.parent.diagram.command"
              icon="icons/backToParentDiagram.gif"
              style="push"
              tooltip="Back to parent diagram">
           <visibleWhen
                 checkEnabled="false">
              <and>
                 <with
                       variable="activeEditorId">
                       <equals value="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID"/>
                 </with>
                 <with
                       variable="selection">
                       <iterate ifEmpty="false" operator="or">
                          <test property="fr.cea.nabla.sirius.nir.property.tester.isNotRootDiagram"/>
                       </iterate>
                 </with>
              </and>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="fr.cea.nabla.sirius.BackToParentNablaIrDiagramCommand"
           id="fr.cea.nabla.sirius.nir.back.to.parent.diagram.command"
           name="BackToParentNablaIrDiagramCommand">
     </command>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="fr.cea.nabla.sirius.BackToParentNablaIrDiagramPropertyTester"
           id="fr.cea.nabla.sirius.nir.property.tester.no.root.diagram"
           namespace="fr.cea.nabla.sirius.nir.property.tester"
           properties="isNotRootDiagram"
           type="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.sirius.diagram.elk.layout.extension">
     <layoutExtension
           class="fr.cea.nabla.sirius.NablaIrElkLayoutExtension">
     </layoutExtension>
  </extension>
  <extension
        point="org.eclipse.eef.properties.ui.eefTabDescriptorFilter">
     <descriptor
           class="fr.cea.nabla.sirius.NablaSiriusTabDescriptorFilter"
           description="Filters the Sirius Main tab from Properties View"
           id="fr.cea.nabla.sirius.tab.filter"
           label="Nabla Properties Tabs Filter">
     </descriptor>
  </extension>
</plugin>
