<?xml version="1.0" ?>
 <arcane-config code-name="ExplicitHeatEquation">
  <time-loops>
    <time-loop name="ExplicitHeatEquationLoop">
      <title>ExplicitHeatEquation</title>
      <description>Default timeloop for code ExplicitHeatEquation</description>

      <modules>
        <module name="ExplicitHeatEquation" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="ExplicitHeatEquation.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ExplicitHeatEquation.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
