<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2020 CEA
    This program and the accompanying materials are made available under the 
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
 * SPDX-License-Identifier: EPL-2.0
 * Contributors: see AUTHORS file
 -->
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Nabla -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.cea.nabla.nabla.presentation.NablaModelWizardID"
            name="%_UI_NablaModelWizard_label"
            class="fr.cea.nabla.nabla.presentation.NablaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NablaModelFile.gif">
         <description>%_UI_NablaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Nabla -->
      <editor
            id="fr.cea.nabla.nabla.presentation.NablaEditorID"
            name="%_UI_NablaEditor_label"
            icon="icons/full/obj16/NablaModelFile.gif"
            extensions="nabla"
            class="fr.cea.nabla.nabla.presentation.NablaEditor"
            contributorClass="fr.cea.nabla.nabla.presentation.NablaActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Nablagen -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.cea.nabla.nablagen.presentation.NablagenModelWizardID"
            name="%_UI_NablagenModelWizard_label"
            class="fr.cea.nabla.nablagen.presentation.NablagenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NablagenModelFile.gif">
         <description>%_UI_NablagenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Nablagen -->
      <editor
            id="fr.cea.nabla.nablagen.presentation.NablagenEditorID"
            name="%_UI_NablagenEditor_label"
            icon="icons/full/obj16/NablagenModelFile.gif"
            extensions="nablagen"
            class="fr.cea.nabla.nablagen.presentation.NablagenEditor"
            contributorClass="fr.cea.nabla.nablagen.presentation.NablagenActionBarContributor">
      </editor>
   </extension>
</plugin>
