<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2020 CEA
    This program and the accompanying materials are made available under the 
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0.
   
 * SPDX-License-Identifier: EPL-2.0
 * Contributors: see AUTHORS file
 -->

<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.cea.fr/nabla/Nabla"
			class = "fr.cea.nabla.nabla.NablaPackage"
			genModel = "model/generated/Nabla.genmodel" />
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.cea.fr/nabla/Nablagen"
			class = "fr.cea.nabla.nablagen.NablagenPackage"
			genModel = "model/generated/Nablagen.genmodel" />
	</extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="NabLab">
       <property
             name="windowImages"
             value="platform:/plugin/fr.cea.nabla.rcp/icons/logo_16.png,platform:/plugin/fr.cea.nabla.rcp/icons/logo_32.png,platform:/plugin/fr.cea.nabla.rcp/icons/logo_48.png,platform:/plugin/fr.cea.nabla.rcp/icons/logo_64.png,platform:/plugin/fr.cea.nabla.rcp/icons/logo_128.png,platform:/plugin/fr.cea.nabla.rcp/icons/logo_256.png">
       </property>
       <property
             name="aboutText"
             value="NabLab Version 0.1.0&#x0A;Copyright (c) 2019 CEA">
       </property>
       <property
             name="startupForegroundColor"
             value="FFFFFF">
       </property>
       <property
             name="startupProgressRect"
             value="0,328,458,18">
       </property>
       <property
             name="startupMessageRect"
             value="7,308,458,18">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
</plugin>
